<p>Hi <%= @user.first_name %>,</p>

<p>We received a request to reset your Holistic Chart password. Click the link below to choose a new one. This link expires in 30 minutes.</p>

<p><%= link_to "Reset my password", @reset_url %></p>

<p>If you didn't request this, you can safely ignore this email — your password won't change.</p>

<p>— Holistic Wellness Fitness</p>
